<div class="form-container">
    <div class="form-content">
        <h2>Entre na sua conta</h2>
        <form class="form" action="">
            <input type="text" placeholder="E-mail ou número de telefone">
            <input type="password" placeholder="Sua senha">
            <button>Entrar na conta</button>
        </form>
        <a href="/signup" class="forget-pass">Esqueci minha senha</a>
        <p class="new-here"> Novo por aqui ?<a href="/signup" class="sigin-now"> Assine agora</a></p>
    </div>
</div>