.form-container{
    display: flex;
    justify-content: center;
    padding-top: 72px;
}
.form-content{
    background-color: rgba(0, 0, 0, 0.1);
    padding: 81px;
    border-radius: 20px;
    backdrop-filter: brightness(0.3);
    margin-bottom: 40px;
}
.form-content h2{
    color: fff;
    font-size: 42px;
    font-weight: 700;
    font-family: 'Inter';
    margin-bottom: 50px;
}
.form-content .form{
    display: flex;
    flex-direction: column;
}
.form-content .form input{
    background-color: #333333;
    font-family: 'Inter';
    font-size: 20px;
    color: #979797;
    padding: 22px 40px;
    border: 0;
    border-radius: 3.25px;
    margin-bottom: 22px;
}
.form-content .form button{
    background-color: #E32723;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 22px 20px;
    border: 0;
    border-radius: 3.25px;
    font-size: 20px;
    transition: .3s ease;
    margin-top: 50px;
    margin-bottom: 16px;
}
.form-content .form button:hover{
    opacity: 0.8;
}
.forget-pass{
    text-align: center;
}
.new-here{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 5%;
    text-align: center;
}
.sigin-now{
    color: #E32723;
    cursor: pointer;
    transition: .3s ease;
}
.sigin-now:hover{
    opacity: 0.8;
}